#cloud-config
runcmd:
  - yum install git epel-release -y
  - yum install python2-pip python3 python3-pip libselinux-python3 libselinux-python -y
  - yum clean all -y
  - pip3 install ansible -U --no-input
  - mkdir -p /opt/ansible_plays
  - pushd /opt/ansible_plays
  - git clone https://github.com/chesapeaketechnology/ansible-datasci-roles.git
  - pushd ansible-datasci-roles
  - git fetch
  - git checkout python3
  - |
    cat <<EOF > /opt/ansible_plays/${ans_role}
    /usr/local/bin/ansible-galaxy install -r ./nginx_requirements.yml
    /usr/local/bin/ansible-playbook -i "localhost, " ./nginx.yml -e ansible_connection=local -e fqdn=${fqdn} -e admin_username=${admin_user} -e admin_email=${admin_email} -e mqtt_ip_address=${mqtt_ip_address} -e grafana_ip_address=${grafana_ip_address} -e consul_server=${consul_server}
    EOF
  - bash /opt/ansible_plays/${ans_role}
