.idea/*
terraform.tfstate.backup
*/.terraform/*
terraform.tfstate
*.tfstate.lock.info
.ipynb_*/*
*.pyc
__pychache__
.vagrant/*
.ipynb_checkpoints/
# Dont commit the archives that get generated
*.zip
# Dont commit the .env file for zsh
*.env
# Dont commit the secure variables
securevars.yml

# Prevent custom config files with secret keys from being committed
pwfile.txt
documentation/modules/**/build/**
documentation/modules/*/docs/*.pdf
documentation/.gradle/*
