# my global config
global:
    scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
    evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
    # scrape_timeout is set to the global default (10s).

scrape_configs:
    # Here it's Prometheus itself
    - job_name: 'prometheus'
      static_configs:
      - targets: ['localhost:9090']

    # Worker nodes monitoring
    - job_name: 'worker-nodes'
      scrape_interval: 5s
      static_configs:
      - targets: [{% for ip in worker_nodes.stdout_lines %}'{{ ip }}:9100'{{ "," if not loop.last else "" }} {% endfor %}]

    # MQTT broker monitoring
    - job_name: 'mqtt-broker'
      static_configs:
      - targets: ['{{ mqtt_server_ip }}:9234']

    # NGINX monitoring
    - job_name: 'reverse-proxy'
      static_configs:
      - targets: ['{{ reverse_proxy_ip }}:9113']

    # Consul monitoring
    - job_name: 'consul'
      static_configs:
      - targets: ['localhost:9107']
