connector-config {
    mqtt-server="${mqtt_server}"
    mqtt-topics=["${mqtt_topics}"]
    mqtt-username="${admin_username}"
    azure-event-hubs-connection-string="${mqtt_eventhubs_connection}"
    azure-event-hubs-batch-size=${mqtt_eventhubs_batch_size}
    scheduled-interval-ms=${mqtt_scheduled_interval}
}
