[Unit]
Description=Data Science Consul Server

[Service]
WorkingDirectory={{ consul_config_dir }}
User=root
ExecStart={{ consul_install_dir }}/consul agent -config-dir={{ consul_config_dir }} -ui
Restart=Always
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target